/* =================GOOGLE FONT================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* =================VARIABLES================= */
:root {
    --header-height: 3rem;

    /* -----Colors----- */
    --hue-color: 47;

    --main-yellow: hsl(var(--hue-color), 97%, 61%);
    --main-yellow-second: hsla(var(--hue-color), 69%, 61%, 0.9); 
    --main-yellow-alt: hsl(var(--hue-color), 57%, 53%); 
    --main-yellow-lighter: hsl(var(--hue-color), 92%, 85%); 
    --main-black: hsl(0, 0%, 17%);
    --main-grey: hsla(0, 0%, 2%, 0.2);
    --main-grey-text: hsla(0, 0%, 2%, 0.4);
    --main-grey-light: hsla(0, 0%, 0%, 0.05);
    --main-green: hsl(130, 55%, 45%);
    --main-green-alt: hsl(130, 75%, 35%);
    --price-red: hsl(356, 58%, 57%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: white;

    /* -----Font style----- */
    --body-font: 'Montserrat', sans-serif;

    /* -----Font size----- */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* -----Font weight----- */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* -----Margin bottom----- */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* -----Z index----- */

}

/* =================BASE================= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* =================REUSABLE CLASSES================= */
.button {
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: var(--font-medium);
}

.icon {
  padding-right: 0.25rem;
  font-size: 1.25rem;
}

.icon-white {
  padding-right: 0.25rem;
  font-size: 1.25rem;
  color: white;
}

.icon-green {
  padding-right: 0.25rem;
  font-size: 1.25rem;
  color: var(--main-green);
}

.nopadding {
  padding: 0 !important;
}

/* =================HEADER================= */
.nav__container {
  background-color: var(--main-black);
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 10px solid var(--main-yellow);
  /* border-radius: 0 0 10px 10px; */
}

/* -----nav logo and brandname----- */
.nav__brand {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.nav__logo {
  padding: 0.5rem 0.5rem 0;
  width: 7rem;
}

.nav__logo-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav__logo-title * {
  color: white;
  padding-left: 0.5rem;
  margin: 0;
}

/* -----nav register, login and creatad buttons----- */
.nav__btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav__btn-reg {
  background-color: white;
  width: 6.5rem;
  margin-right: 1rem;
}

.nav__btn-login {
  background-color: var(--main-yellow);
  width: 6.5rem;
  margin-right: 1rem;
}

.nav__btn-login:hover {
  background-color: var(--main-yellow-alt);
}

.nav__btn-createad {
  display: flex;
  color: white;
  cursor: pointer;
  padding-top: 0.5rem;
  font-weight: var(--font-medium);
}

.nav__btn-createad:hover {
  color: var(--main-yellow);
}

.nav__btn-createad p{
  margin: auto;
}

/* -----nav search bar----- */
.nav__search {
  display: flex;
  justify-content: flex-start;
  padding: 0.75rem 0 0.5rem 0;
}

.nav__search input {
  border: none;
  outline: none;
  width: 90%;
}

.nav__search input:focus::placeholder {
  color: transparent;
}

.nav__search-input, .nav__search-location {
  background-color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.nav__search-input {
  border-radius: 25px 0px 0px 25px;
  width: 30rem;
}

.nav__search-location {
  border-radius: 0px 25px 25px 0px;
  width: 20rem;
}

.nav__btn-search {
  background-color: var(--main-green);
  color: white;
  font-weight: var(--font-medium);
}

.nav__btn-search:hover {
  background-color: var(--main-green-alt);
}



/* =================HOME================= */
.home__container {
  background-color: var(--main-yellow);
  /* background-image: url('./assets/images/logo-color.png'); */
  background-image: url('./assets/images/home-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 162.44px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.home__text-right-COL {
  display: flex;
  justify-content: flex-end;
}

.home__text-left, .home__text-right{
  display: inline-block;
}

.home__text-left p, .home__text-right p {
  background-color: var(--main-black);
  color: white;
  padding: 1rem;
  font-weight: var(--font-semi-bold);
}

.home__text-left p{
  border-radius: 0px 90px 90px 0px;
}

.home__text-right p {
  border-radius: 90px 0px 0px 90px;
  text-align: right;
}

/* =================GENERAL STYLING ON ALL FORMS================= */
.form__container {
  padding: 2rem 0;
}

.form__container h4{
  padding: 0.5rem 0 1rem;
  text-align: center;
  font-weight: var(--font-semi-bold);
}

.form__submit {
  width: 100%;
  text-align: center;
}

.form__submit-btn {
  background-color: var(--main-yellow);
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 1rem;
}

.form__submit-btn:hover {
  background-color: var(--main-yellow-alt);
}

.form__link {
  text-align: center;
  margin: 2rem 0 0;
}

/* =================USER SIGN UP================= */

/* =================404================= */

.errorpage__container  {
  background-color: var(--main-yellow);
  height: calc(100vh - 162.44px);
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.logo-color {
  width:320px;
  height: 328.96px;
  position: absolute;
  left: 43.4%;
  right: 38.08%;
  top: 26.51%;
  bottom: 52.05%;
}

.errorPage h1 {
  position: absolute;
  width: 417px;
  left: calc(50% - 417px/2 - 328.5px);
  top: 65%;
  bottom: 38.18%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 200px;
  line-height: 244px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.errorPage h2 {
  position: absolute;
  width: 685px;
  left: calc(50% - 685px/2 + 243.5px);
  top: 67.5%;
  bottom: 39.35%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 156px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.errorPage p {
  background-color: var(--main-yellow);
  position: absolute;
  width: 1258px;
  left: calc(50% - 1258px/2 + 46px);
  top: 80%;
  bottom: 31.53%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 51px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.errorPage button {
  position: absolute;
  width: 400px;
  height: 80px;
  left: 40%;
  top: 87.5%;
  background: #2C2C2C;
  border: 5px solid #FCD139;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #fff;
}

.errorPage button:hover {
  cursor: pointer;
  opacity: 85%;
  transition: ease-in-out 0.25s;
}

/* =================FOOTER================= */
  .footer__container {
    background-color: var(--main-black);
    color: white;
    border-top: 10px solid var(--main-yellow);
  }

/* =================USER LOGIN (Login component uses classes as well)================= */


/* =================USER LOGIN (Login component uses classes as well)================= */
@media screen and (min-height: 42.5em) {
  .login__container {
    height: calc(100vh - (162.44px + 182.01px));
  }
}

/* =================CREATE AD================= */
.createad__dropzone {
  border: 2px dashed var(--main-grey);
  margin-bottom: 1rem;
}

.createad__input {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.createad__input p {
  color: var(--main-grey-text);
}

.createad__thumbs{
  display: flex;
  justify-content: space-around;
}

.createad__thumbnail{
  width: 7rem;
  height: 7rem;
  margin: 0.25rem 0.25rem;
  border: 1px solid var(--main-grey);
  border-radius: 5px;
  object-fit: cover;
}


@media screen and (min-width: 42.5em) {
  .createad__radio  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* =================FOOTER================= */
.footer__container {
  background-color: var(--main-black);
  color: white;
  

}

.footer__COL {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}


/* =================PROVIDES SERVICE LIST================= */

.pservice__container {
  /* background-color: var(--main-yellow); */
  height: calc(100vh - 162.44px);
}

.pservice__createad{
  padding: 5.5rem 0 0 2rem;
}

.pservice__text {
  display: flex;
  justify-content: flex-start;
  font-weight: var(--font-medium);
}

.pservice__create {
  width: 260px;
  padding-top: 1rem;
}

.pservice__create:hover {
  opacity: 80%;
}

.pservice__list {
  display: flex;
}

.pservices__services {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 50px;
  width: 600px;
  border: 0px solid;
  background: #D9D9D9;
  border-radius: 25px;
  padding-left:1rem;
  padding-right: 1rem;
  font-weight: var(--font-medium);
}

.pservices__moreinfo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  width: 100px;
  border: 0px solid;
  border-radius: 25px;
  background: #D9D9D9;
  font-weight: var(--font-medium);
  margin-left: 10px;
}

.pservices__edit {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  width: 100px;
  border: 0px solid;
  border-radius: 25px;
  background: #D9D9D9;
  font-weight: var(--font-medium);
  margin-left: 10px;
}

.pservices__activate {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--main-green);
  height: 50px;
  width: 100px;
  border: 0px solid;
  border-radius: 25px;
  background: #D9D9D9;
  font-weight: var(--font-medium);
  margin-left: 10px;
}

.phover:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  opacity: 50%;
}

 /* =================NEW REQUEST================= */

 @media screen and (min-width: 62em) {
  .newrequest__price-COL  {
    display: flex;
    justify-content: flex-end;
  }
}

 .newrequest__price {
  display: flex;
  align-items: end;
  justify-content: end;
  border: 1px solid var(--main-grey);
  border-radius: 10px;
  width: fit-content;
  text-align: right;
 }

 .newrequest__price-value {
  color: var(--price-red);
  padding: 0 0.5rem;
  margin: 0;
 }

 .newrequest__price-type {
  color: var(--main-grey-text);
  font-weight: var(--font-semi-bold);
  margin: 0;
  padding-right: 0.5rem;
 }

/* =================REQUST LIST FOR PROVIDED SERVICES================= */

.requestd_container {
  height: calc(100vh - 162.44px);
}

.requestd__content {
  padding: 5.5rem 0 0 2rem;
}

.requestd__content h2 {
  font-weight:900;
}

.requestd__content p {
  padding-top: 2rem;
}

.requestd__flex {
  display: flex;
}

.requestd__status {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 50px;
  width: 600px;
  border: 0px solid;
  background: #D9D9D9;
  border-radius: 15px;
  padding-left:1rem;
  padding-right: 1rem;
  font-weight: var(--font-medium);
}

.requestd__moreinfo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  width: 100px;
  border: 0px solid;
  border-radius: 15px;
  background: #D9D9D9;
  font-weight: var(--font-medium);
  margin-left: 10px;
 }

 .requestp__hover:hover {
  opacity: 70%;
 }

/* =================SERVICE DETAILS================= */
.service-border {
  padding: 0.5rem;
  border: 1px solid var(--main-grey);
  border-radius: 10px;
}

.service__location {
  display: flex;
  align-items: center;
  color: var(--main-grey-text);
  font-weight: var(--font-semi-bold);
}

.service__location h6 {
  margin: 0;
}

.service__carousel {
  z-index: 0;
}

.service__carousel-image {
  border-radius: 10px;
}

.service__details-content{
  display: flex;
  align-items: start;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  background-color: var(--main-grey-light)
}

.service__details-content p{
  padding-left: 0.5rem;
  font-weight: var(--font-semi-bold);
  align-self: center;
  margin-bottom: 0;
}

.service__request-btn {
  border-radius: 10px;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  font-weight: var(--font-medium);
  background-color: var(--main-green);
  color: white;
}
.service__request-btn:hover {
  background-color: var(--main-green-alt);
}

.service__review {
  display: flex;
  align-items: start;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  background-color: var(--main-grey-light)
}



 /* =================REQUEST DETAILS================= */

.requestdetails__container {
  /* height: calc(100vh - 162.44px); */
 }

 .requestdetails__content {
  padding: 5.5rem 10rem 0rem 2rem;
 }

 .requestdetails__content h2 {
  font-weight:900;
}

.lead {
  padding-top: 2rem;
}

.justify-content-start h6 {
  font-weight:var(--small-font-size);
}

.requestdetails__chatbox{
  border: 1px solid gray;
}

.requestdetails__chatbox p {
  padding-left: 1rem;
}

#chatboxmsg {
  max-width: fit-content;
  font-size: 12px;
  background-color: #D9D9D9;
  border-radius: 50px;
  margin: 1rem 1rem 1rem 5rem;
  padding: 1.5rem;
}

#chatboxmsg2 {
  max-width: fit-content;
  font-size: 12px;
  background-color: var(--main-yellow);
  border-radius: 50px;
  font-size: 12px;
  margin: 1rem 1rem 1rem 5rem;
  padding: 1.5rem;
}

#replytext {
  height: 40px;
  padding: 0.5rem;
  width: max-content; 
}

#replytextinput {
  width: 1288px;
  height: 2rem;
  padding-left: 0.2rem;
  
}

.requestd__btns {
  margin-top: 3rem;
  margin-bottom: 8rem;
  
}

.requestd__btns button {
  font-weight: var(--font-medium);
  margin-right: 2rem;
}

.chatboxback img {
  float: left;
  margin-left: 1rem;
  margin-top: 1rem;
  height: 48px;
  width:48px;
  border-radius: 50%;
}

.chatboxbackground2 img {
  margin-top: 0.5rem;
}

.requestd__btns2 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  
}

#sreject {
  color: red;
  font-weight: var(--font-medium);
}

#r-inprogress {
  color: var(--main-yellow);
  font-weight: var(--font-medium);
}

#replytextinputreject {
  width: 1288px;
  height: 2rem;
  padding-left: 0.2rem;
  margin-bottom: 7rem;
}